In [2]:
#Tuple is like >> but not changable
tuple1 = (1,2,3)
print(type(tuple1))
#tuple1[3]=50 //error //can not be edited
conv_list = list (tuple1) #converting tuple to list to can be edited
tuple1[3]=50
new_tuple = tuple(conv_list)
new_tuple
#can be append & insert & ..

<class 'tuple'>

In [ ]:
#set //probability and posibility -> uncertain
# every element is a degree of membership
#set not orderd data
set1 = {1,2,3}
type(set1)
set2 = {3,4,5}
print(set1.intersection(set2))
print(
    set1.union(set2))
print(set1.difference(set2))

{3}
{1, 2, 3, 4, 5}
{1, 2}

In [11]:
dic1 = {"fname": "mariam", "depi": "round 4", 5:[10,30,20]}
print(dic1 [5])
dic1["fname"] =1

[10, 30, 20]

In [13]:
k = [(1,2),(3,4)]
d = dict(k)
print (d)

{1: 2, 3: 4}

In [6]:
num1 = input("enter your first number")
type(num1)

str

In [ ]:
n1 = int(input("enter your first number"))
n2 = int(input("enter second number"))
print(n1 + n2)

In [ ]:
#arithmatic operation
a = 10
b = 20
print(a//b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b ==0)
print(a%b)

0
30
-10
200
0.5
False
10

In [ ]:
#comparition operation -> result t or f
a = 4
b = 5
a == b
a != b
a >= b
b <= a
a > b
b > a

In [ ]:
# logical operation and, or, not, is, is not
x = 5
y = 7 
#-------------and
# t & t = t
# t & f = f
# f & t = f
# f & f = f
#---------------or
# t | t = t
# t | f = t
# f | t = t
# f | f = f
#--------------is - is not
a is b
a is not b

In [ ]:
#assignment operation
wx + b = y # line
#w = w - value
#w = w - 1
#w -= 1
#can use (+, -, /, *)

In [ ]:
x = 20
y = 5
r = (x + True) / (4 - y)

In [11]:
n1 = int(input("enter your frist n"))
n2 = int(input ("enter your second n"))
print ("sum is " ,n1 + n2)
print ("sub is" ,n1 - n2)
print ("multi is " ,n1 * n2)
print ("div is " ,n1/n2)

sum is  10
sub is 0
multi is  25
div is  1.0

In [ ]:
# n1 = input("enter your frist n")
# n2 = input ("enter your second n")
# print (f"sum is " ,int(n1 + n2))
# print (f"sub is ")
# print (f"multi is " ,int (n1 * n2))
# print (f"div is " ,int(n1/n2))

sum is  55

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# if
a = 300
b = 100
if a > b:
    print ("yes a > b")
elif a == b:
    print ("no a = b")
else:
    print ("no b > a")

yes a > b

In [ ]:
x = 5, y = 10
if x > 0 and y > 0:
    print ("x, y both are > 0")
else:
    print ("x, y both are not > 0")

In [15]:
x = 10
result = "even" if x % 2 == 0 else "odd"
print(result)

even

In [16]:
is_sunny = True
temp = 25
if is_sunny:
    print("it is sunny today")

    if temp > 20:
        print("the weather is warm")
    else:
        print("the weather is cool")
        
else:
    print("it is not sunny")

it is sunny today
the weather is warm

In [ ]:
l1 = [1,2,3,4,5,6,7]
print (l1[1])
print (l1[2])
# for -> i know how many itrations
# while -> i don't know how many jtirations
#for i in l1
#for i in range
for i in l1:
    print(i)
for x in "amit":
    print (x)
for i in range (1,9):
    print (i)
    print ("welcom")
for i in range (19):
    print (i)

2
3
1
2
3
4
5
6
7
a
m
i
t
1
welcom
2
welcom
3
welcom
4
welcom
5
welcom
6
welcom
7
welcom
8
welcom
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [10]:
for i in range (6):
    if i ==3:
        continue
    print (i)

0
1
2
4
5

In [12]:
for i in range (6):
    if i ==3:
        pass
    print (i)

0
1
2
3
4
5

In [14]:
for i in range (6):
    if i ==3:
        break
    print (i)

0
1
2

In [15]:
list = [1,2,3,4,5,6,6,6,6]
x = len(list)
for i in range (len(list)) :
    print (i)

0
1
2
3
4
5
6
7
8

In [19]:
x = 6 
while x > 0:
    print (x)
    print ("Python")
    x-=1

6
Python
5
Python
4
Python
3
Python
2
Python
1
Python

In [ ]:
# n1 = int( input("enter n 1: "))
# n1 = int( input("enter n 1: "))
# n1 = int( input("enter n 1: "))

# #def get_info()

In [1]:
import os
base = "D:/Data Enginner/DEPI_DE_ONL4_AISS_G1/src/python/session_3"
os.listdir(base)

['code', 'material']