In [ ]:
print ("my name is DEPI")

my name is DEPI

In [14]:
x = 30

print ("my age is: ",x)

my age is:  30

In [15]:
x = 30
type(x)

int

In [16]:
# naming convencion

In [17]:
my = "ana"
name = "mariam"
print (my, name)
print ("my, name")

ana mariam
my, name

In [18]:
x,y = 10, 20
print("value of x is ",x, "value of y is ",y)

value of x is  10 value of y is  20

In [19]:
print ("Hello World")
print ("amit learning")

Hello World
amit learning

In [ ]:
#object of class
x = "mariam"
type(x)
print(type(x))
# x.

<class 'int'>

In [ ]:
# format 1
x=2
y=3
print ("the value of x is  " ,x, "the value of y is ",y )

the value of x is   2 the value of y is  3

In [ ]:
# format 2
print ("value of x is {} and value  of y is {}".format(x,y))

value of x is 2 and value  of y is 3

In [29]:
#format 3
print (f"the value of x is {x}, and the value of the y is {y}")

the value of x is 2, and the value of the y is 3

In [ ]:
#small application
name = "Mariam Moheb"
courseName = "Data Engineering"
id = "1234567890"
print(f"My name is {name} and my course name i take is {courseName}, id is {id}")

My name is Mariam Moheb and my course name i take is Data Engineering, id is 1234567890

In [32]:
approved = True
print(type(approved))

<class 'bool'>

In [35]:
name = "welcome into data engineer course"
name[12:17]
print(type(name))
print(name[2:10])
print(name[2:10:2])

<class 'str'>
lcome in
loei

In [41]:
name = "welcome into data engineer course"
print(type(name))
# str - Left click - go to definition
cap = name.upper()
print(cap)
low = cap.lower()
print(low)
rep = name.replace("data", "mariam")
print(rep)
print(name.capitalize())
print(name.title())

<class 'str'>
WELCOME INTO DATA ENGINEER COURSE
welcome into data engineer course
welcome into mariam engineer course
Welcome into data engineer course
Welcome Into Data Engineer Course